body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.nvm{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 4, 61);
    color: white;
    position: sticky;
    top: 0;
    padding: 7px;
    z-index: 11;
    margin-bottom: 10px;
}
.nvm a{
    text-decoration: none;
    color: white;
    
    
}
.nvm header{
    padding-top: 17px;
    padding-right: 10px;
}
.nvm button{
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid  white;
}
.img{
    
    margin-bottom: 60px;
    width: 35%;
    border-radius: 6px;
    margin-left: 400px;
}
.div1{
    text-align: center;
   
    color:black;
    padding-top: 15px;
   
    margin-bottom: 40px;
    border-radius: 7px;
}
.div1 h1{
    color:rgb(5, 4, 61);
    padding-bottom: 3px;
    margin-top: 60px;
}
.div2{
    display: flex; 
    gap: 15px;
    justify-content: center;
}
.div2 .python{
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px; 
    background-color: white;
    

}

.div2 .html{
    border: 2px solid black;
    border-radius: 7px;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
    text-align: center;
    background-color: white;
}

.div2 .css{
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;
    text-align: center;
    background-color: white;
}

.div2 div h2{
    color: rgb(5, 4, 61);
}
.fo{
    background-color: rgb(5, 4, 61);
    color: white;
    padding-left: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    
}