body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.edit{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 4, 61);
    color: white;
    position: sticky;
    top: 0;
    padding: 7px;
    z-index: 11;
    margin-bottom: 10px;
}
.edit a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;

    
}
.edit a:hover{
    color: rgb(96, 128, 231);
}

.edit header{
    padding-top: 17px;
    padding-right: 10px;
    
}
.edit header button{
    
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid  white;
}
.div h1{
    text-align: center;
    color:rgb(5, 4, 61); 
}
form{
    background-color:rgb(5, 4, 61) ;
    text-align: center;
    width: 300px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}
form button{
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: 3px solid  white;

}
form button:hover{
    color:rgb(156, 154, 250);
}
.contact-info{
    background-color:rgb(5, 4, 61) ;
    width: 300px;
    text-align: center;
    padding: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;

}
.fo{
    background-color: rgb(5, 4, 61);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
@media screen and (max-width:600px) {
    body{
        overflow-x: hidden !important;
        font-size: small;
        /* margin-left: 5px;
        margin-right: 5px; */
    }
    .edit header{
        padding-top: 8px;
        font-size: small;
    }
    
}
    
