body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.edit{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 4, 61);
    color: white;
    position: sticky;
    top: 0;
    padding: 7px;
    z-index: 11;
    margin-bottom: 10px;
}
.edit a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;

    
}
.edit a:hover{
    color: rgb(96, 128, 231);
}

.edit header{
    padding-top: 17px;
    padding-right: 10px;
    
}
.edit header button{
    
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid  white;
}
.parent_position{
    display: flex;
    text-align: center;
    gap: 10px;
    margin-left: 200px;
    padding-top: 10px;
}
.parent_position img{
    width: 40%;
    height: auto;
    border-radius: 25px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tech_img{
    position: relative;
    top: 200px;
    bottom: 0;
    z-index: 10;
}
.about{
    text-align: center;
    margin-top: 200px;
    color:black;
    padding-top: 15px;
   
    margin-bottom: 40px;
    border-radius: 7px;

}
.about h2{
    color: black;
    padding-bottom: 3px;
    margin-top: 60px;
}
.services-container{
    display: flex; 
    gap: 5px;
    margin-right: 10px;
}
.services-container section{
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    padding: 15px;
}

cite{
    color: rgb(5, 4, 61);
}
.services-container section li{
    list-style: none;
}
.fo{
    background-color: rgb(5, 4, 61);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
      
}
@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden !important;
        font-size: small;
    }
    .about{
        padding-left: 5px;
        padding-right: 5px;
    }
    .parent_position{
        margin: 0;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-left: 0;
        align-items: center;
        box-sizing: border-box;
        overflow-x:hidden;
        
    }
    .services-container section{
        flex-grow: 4;
        min-width: 80%;

    }
    .edit header{
        padding: 5px;
    }
}
.about h2{
    color: rgb(255, 68, 0);
}
.services-container h2{
    color: rgb(255, 68, 0);
}