body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parent_div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 4, 61);
    color: white;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 7;
}
.parent_div a{
    color: white;
    text-decoration: none;
}
.parent_div a:hover{
    color: rgb(127, 98, 173);
}
.parent_div header{
    padding-top: 17px;
    padding-right: 10px;
}
.parent_div header button{
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid  white;
}
form{
    background-color: rgb(5, 4, 61);
    margin-top: 170px;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
label{
    margin-bottom: 5px;
}
input{
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid  rgb(5, 4, 61);
}
.btn{
    border: none;
    background-color: rgb(5, 4, 61);
    color: white;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid  white;
}
.btn:hover{
    color: rgb(127, 98, 173); 
}
footer{
    background-color: rgb(5, 4, 61);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 200px;
   
}
@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
        font-size: small;
    }
    .parent_div{
        /* flex-direction: row; */
        /* justify-content: space-between; */
        position: sticky;
        top: 0;
        z-index: 12;
    }
    .parent_div header{
        padding-bottom: 8px;
    }
    form {
        position: relative;   
        z-index: 1;
    }
}